<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/images/Sujitha-designstyle-birthday-m.png"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Welcome Back Sujitha Raju</h3>
        </div>
  
        <div class="text-center">@Sujitha</div>
        <div class="text-center">
          <a href="https://github.com/SujithaRaju">www.github.com/SujithaRaju</a>
        </div>
      </div>
    </div>
  </div>
